# Ignore everything by default
*

# Whitelist these files
!/.gitignore

!*.go
!go.mod
!go.sum

!README.md
!LICENSE

!Makefile

!install.sh

# Generally allow subdirectory traversal for whitelisted files
# (otherwise only top level files are whitelisted)
!*/

# Allow anything under the docs or examples directories
# Subdirectory traversal must be enabled separate for each with <dir>/**/*
!docs/*
!docs/**/*
!examples/*
